@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --main-color: #f5427a;
  --main-color-light: #f56e99;
  --main-color-dark: #c2325d;
}

html {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Noto Sans HK', sans-serif; */
  font-size: 16px;
}
body {
  margin: 0;
}

.loader {
  display: none;
  position: absolute;
  top: calc(50% - 190px);
  left: calc(50% - 150px);
  opacity: 90%;
  transition: 1s;
}

.loader_logo {
  width: 300px;
}

.loader_logo svg {
  fill: #333;
}

/* Second loader */
.cs-loader {
  left: calc(50% - 50px);
  position: absolute;
  color: #333;
}

.cs-loader label {
  font-size: 10px;
  opacity: 0;
  display: inline-block;
}

/* main content */
.main {
  display: block;
  opacity: 1;
  transition: 1s;
}

/* head part */

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(./src/cascadeFountain.jpg);
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.head__menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.95);
  width: 60%;
  border-radius: 0 0 20px 20px;
}
.head__menu__ul {
  margin-right: 50px;
  cursor: default;
}

.head__menu__li {
  list-style: none;
  display: inline;
  margin: 0 15px;
}
.head__menu__link {
  text-decoration: none;
  color: var(--main-color);
  transition: 0.2s;
  font-size: 1.2rem;
}
.head__menu__link:hover {
  color: var(--main-color-dark);
}

.head__logo {
  margin-left: 20px;
  padding: 5px 0;
}
.head__logo__link {
  display: block;
}
.head__logo__image {
  display: block;
}

.greeting-block {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: url(/src/north.jpg); */
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.greeting-block__header {
  color: var(--main-color);
}
.presentation__row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
  bottom: 100px;
}

.presentation__block {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--main-color-light);
}
.presentation__header {
  text-align: center;
  margin: 0;
  color: white;
}
.presentation__description {
  text-align: center;
  color: white;
  margin: 0;
  padding: 10px 20px;
}
.presentation__logo > img {
  border-radius: 50%;
}

/* modifiers */

.btn--hover {
  font-size: 1.5rem;
}

/*  animations */
@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  33% {
    opacity: 1;
    transform: translateX(0px);
  }

  66% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }

  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }

  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
