@import url(style.css);

.head {
  background: url(../images/historyYerevan.jpg);
  background-color: rgba(17, 17, 17, 0.74);
  background-blend-mode: overlay;
  background-position: 0 80%;
}
.greeting-block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.greeting__desc {
  font-size: 1.5rem;
  color: var(--main-color-light);
  width: 50%;
  text-align: center;
}
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.presentation__header {
  margin: 100px 0;
  color: var(--main-color-light);
}
.presentation__header h2 {
  margin: 0;
}
.presentation__content {
  width: var(--content-width);
  display: flex;
  flex-direction: column;
}

.presentation__story,
.presentation__image {
  width: 50%;
}
.presentation__image img {
  display: block;
  width: 100%;
  /* height: 100%; */
}

.presentation__part {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background: var(--main-color-light); */
}
.presentation__story {
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation__info {
  width: 80%;
  text-align: left;
  font-size: 1rem;
  color: var(--main-color);
}
.public-square {
  margin: 100px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.public-square__description {
  width: var(--content-width);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: var(--main-color-light);
  color: var(--white-text-color);
}
.public-square__description h2 {
  margin: 10px 0;
  text-align: center;
}
.public-square__information {
  width: 80%;
  margin: 20px auto;
  font-size: 1.1rem;
}
.public-square__image-container,
.public-square__text-part {
  width: 50%;
}
.public-square__image {
  display: block;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .presentation__content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .presentation__part {
    flex-direction: column;
  }
  .presentation__part:last-child {
    flex-direction: column-reverse;
  }
  .presentation__info {
    font-size: 1.2rem;
  }
  .presentation__story {
    margin: 20px 0;
  }
  .presentation__story,
  .presentation__image {
    width: 60%;
  }
  .public-square__description {
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
  }
  .public-square__image-container,
  .public-square__text-part {
    width: 100%;
  }
}
