@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url(./variables.css);

html {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Noto Sans HK', sans-serif; */
  font-size: 16px;
}
body {
  margin: 0;
}

.loader {
  display: none;
  position: absolute;
  top: calc(50% - 190px);
  left: calc(50% - 150px);
  opacity: 90%;
  transition: 1s;
}

.loader_logo {
  width: 300px;
}

.loader_logo svg {
  fill: #333;
}

/* Second loader */
.cs-loader {
  left: calc(50% - 50px);
  position: absolute;
  color: #333;
}

.cs-loader label {
  font-size: 0.625rem;
  opacity: 0;
  display: inline-block;
}

/* main content */
.main {
  display: block;
  opacity: 1;
  transition: 1s;
}

/* head part */

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../images/cascadeFountain.jpg);
  background-color: rgba(17, 17, 17, 0.74);
  background-blend-mode: overlay;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.head__menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color-light-alpha);
  width: var(--content-width);
  border-radius: 0 0 20px 20px;
}
.head__menu__ul {
  margin-right: 50px;
  cursor: default;
}

.head__menu__li {
  list-style: none;
  display: inline;
  margin: 0 15px;
}
.head__menu__link {
  text-decoration: none;
  color: var(--white-text-color);
  transition: 0.2s;
  font-size: 1.2rem;
}
.head__menu__link:hover {
  color: var(--main-color-dark);
}

.head__logo {
  margin-left: 20px;
  padding: 5px 0;
  cursor: pointer;
}

.head__logo__link {
  /* display: block; */
  position: relative;
}
.head__logo__image {
  transition: 0.3s;
}

.head__logo__image--reverse {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.head__logo__image--reverse:hover {
  opacity: 1;
}
.head__logo__link:hover .head__logo__image {
  opacity: 0;
}

.greeting-block {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: url(/src/north.jpg); */
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.greeting-block__content {
  width: var(--content-width);
}

.greeting-block__header {
  color: var(--main-color-light);
  text-align: center;
}
.greeting-block__desc {
  color: var(--main-color-light);
  width: 80%;
  margin: 50px auto;
  text-align: center;
  font-size: 1.5rem;
}
.presentation__row {
  display: flex;
  width: var(--content-width);
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  bottom: 70px;
}

.presentation__block {
  width: 30%;
  /* height: 350px; */
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: var(--main-color-light-alpha);
  transition: 0.5s;
  /* border-radius: 20px; */
}
.presentation__logo {
  padding: 5px 0;
}
.presentation__block:hover {
  transform: translateY(-20px);
  background: var(--main-color);
}
.presentation__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.presentation__header {
  text-align: center;
  margin: 0;
  color: var(--white-text-color);
  font-size: 1.2rem;
}
.presentation__description {
  text-align: center;
  font-size: 0.875rem;
  color: var(--white-text-color);
  margin: 0;
  padding: 30px 10px;
}
.presentation__logo > img {
  border-radius: 50%;
}
.presentation__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
.presentation__information {
  display: flex;
  flex-direction: row;
  width: var(--content-width);
}
.presentation__information__image {
  width: 50%;
}
.presentation__information__image {
  background-image: url(../images/modernCar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.presentation__information__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  background: var(--main-color-light);
}
.presentation__information__header {
  font-size: 1.5rem;
  color: var(--white-text-color);
}

.presentation__information__story {
  width: 80%;
  margin: auto;
  text-align: center;
  color: var(--white-text-color);
  font-size: 1rem;
}
.presentation__information__button {
  padding: 20px 0;
}
.wrapper {
  width: var(--content-width);
  margin: 0 auto;
}
.gallery {
  margin: 50px 0;
}

.gallery__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gallery__content__items {
  margin: 100px 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gallery__header {
  text-align: center;
  color: var(--main-color);
  font-size: 1.5rem;
  margin: 0 0 20px 0;
}
.gallery__story {
  text-align: center;
  font-size: 1.5rem;
  width: 60%;
  color: var(--main-color);
}

.gallery__pictures {
  margin: 20px 0;
  width: 100%;
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
}

.gallery__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__row1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.gallery__row2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* modifiers */

.btn--main {
  background: transparent;
  color: var(--white-text-color);
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.btn--main:hover {
  background: var(--white-text-color);
  color: var(--main-color-light);
  /* border: 1px solid var(--white-text-color); */
}

.btn--reverse {
  background: transparent;
  color: var(--main-color-light);
  border: 1px solid var(--main-color-light);
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn--reverse:hover {
  background: var(--main-color-light);
  color: var(--white-text-color);
  /* border: 1px solid var(--white-text-color); */
}

/*  animations */
@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  33% {
    opacity: 1;
    transform: translateX(0px);
  }

  66% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }

  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }

  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
